.item{
    margin: 20px;
    border: none;
      color: #f2f2f2;
      padding: 10px;
      font-size: 20px;
      border-radius: 5px;
      position: relative;
      box-sizing: border-box;
      transition: all 600ms ease; 
  }  
  .item:hover{
      background: rgba(0,0,0,0);
      color: gold;
      box-shadow: inset -5px -5px 0 1px gold;
      transform: scale(1.2);
  }
  
  