.projects{
    margin:0; padding:0;
    display: flex;
    flex-direction: row;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    background: black;
    background-size: cover;
    background-attachment: fixed;
}