.projects{
    margin: 0 0 0 0; padding:0;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    background: black;
    background-size: cover;
    background-attachment: fixed;
}
.projects_list{
    margin:0; padding:0;
    display: flex;
    flex-direction: row;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    background: black;
    background-size: cover;
    background-attachment: fixed;
}



@media only screen and (max-width: 480px) {
    .projects_list { 
        flex-direction: column;
     }
    }