.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: black;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  transition: 0.5s ease;
  cursor: pointer;
}
.card-text{
  margin: 10px;
  padding: 10px;
}
.date{
  color:  rgb(255, 7, 110);
}

h4{
  color: blue;
   margin-top:5px;
  font-size:20px;
}

p{
  margin: 5px;
  color: rgb(34, 33, 33);
  font-size:14px;
  font-weight: 200;
}
.type{
  margin: 5px;
  color: rgb(255, 7, 110)
}

.card-link{
  background-color: rgb(219, 193, 43);;
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
